@use 'abstracts/' as *;


.glass {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.238);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(254, 254, 254, 0.36);
    padding: 4em;
    color: white;

    .input {
        color: white;
        font-size: $heading;
        font-weight: $thin;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.64);
        outline: none;
        padding-left: .3em;
        width: 80%;

    }

    .submit {
        position: absolute;
        top: 0;
        right: 0;
        font-size: $heading;
        padding: 0;
        width: 3em;
        height: 3em;
        cursor: pointer;
        border: none;
        background-color: #97D2EC;
        color: white;

        transition: all .5s;

        &:hover {
            background-color: white;
            color: #97D2EC;
        } 

        &:active {
            transform: scale(.9);
            transform-origin: top right;
        }
    }

    .details {
        margin-top: 5em;
        text-transform: uppercase;
        user-select: none;
    }
}